.social-sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 150;
  margin-top: 15px;
  left: 3%;
}
.social-sidebar a {
  text-decoration: none;
  opacity: 100%;
  margin-right: 10px;
}
.social-sidebar a .social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
}
.social-sidebar a .social-icon:hover, .social-sidebar a .social-icon:focus {
  background-color: rgb(209, 229, 255);
  transition: all 300ms ease-in;
}
.social-sidebar a .social-icon i {
  color: #007bc4;
  font-size: 1.5rem;
}
.social-sidebar a .social-icon svg {
  width: 27px;
  height: 27px;
}
.social-sidebar a .social-icon svg path {
  fill: #007bc4;
}

@keyframes drop-in {
  100% {
    margin-top: 1em;
  }
}
@keyframes fade-in {
  100% {
    opacity: 100%;
  }
}
@media (min-width: 800px) {
  .social-sidebar {
    flex-direction: column;
    margin-top: 2em;
  }
  .social-sidebar a {
    opacity: 0%;
    animation: fade-in 1s forwards, drop-in 1s forwards;
    margin-bottom: 1em;
  }
  .social-sidebar a:nth-of-type(2) {
    animation-delay: 500ms;
  }
  .social-sidebar a:nth-of-type(3) {
    animation-delay: 900ms;
  }
  .social-sidebar a .social-icon {
    background-color: #007bc4;
    width: 50px;
    height: 50px;
  }
  .social-sidebar a .social-icon:hover, .social-sidebar a .social-icon:focus {
    background-color: rgba(0, 123, 196, 0.8);
    transition: all 300ms ease-in;
  }
  .social-sidebar a .social-icon i {
    color: white;
  }
  .social-sidebar a .social-icon svg path {
    fill: white;
  }
}
header button {
  padding: 20px;
  position: absolute;
  top: 85px;
  right: 15px;
  background-color: #007bc4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in;
}
header button:hover, header button:focus {
  background-color: rgba(0, 123, 196, 0.8);
  transition: all 300ms ease-in;
}
header button i {
  color: white;
}
header .svg-container {
  padding-top: 1em;
  position: relative;
  height: 200px;
  background: url(../assets/Vector.png);
  animation: skyline 35s infinite;
  animation-timing-function: linear;
  z-index: 1;
}
header .bus-stop-container {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 15px;
  animation: busStop 7s infinite;
  animation-timing-function: linear;
  z-index: 3;
}
header .bus-stop-container p {
  font-weight: 900;
  color: rgba(206, 23, 72, 0.6);
  opacity: 0%;
  animation: qPop 7s infinite, qRotate 2s infinite;
  animation-timing-function: linear;
  align-self: center;
  position: absolute;
  left: 45px;
  top: -35px;
}
header .bus-stop-container img {
  height: 70px;
  opacity: 55%;
}
header .bus-container {
  margin-bottom: 1em;
}
header .bus-container img {
  width: 150px;
  position: absolute;
  z-index: 4;
  bottom: -25px;
  left: 20%;
  opacity: 75%;
  animation: svgBus 7s infinite;
}
header.paused .svg-container, header.paused .bus-container img, header.paused .bus-stop-container, header.paused .bus-stop-container p {
  animation-play-state: paused;
}

@media (min-width: 450px) {
  .bus-container img {
    width: 200px;
    bottom: -30px;
  }
  .svg-container {
    animation: skyline 25s infinite;
    animation-timing-function: linear;
  }
  .bus-stop-container {
    animation: busStop 7s infinite;
    animation-timing-function: linear;
  }
  .bus-stop-container img {
    height: 90px;
  }
  @keyframes svgBus {
    40% {
      opacity: 75%;
    }
    55% {
      opacity: 0%;
    }
    85% {
      opacity: 0%;
    }
    100% {
      opacity: 75%;
    }
  }
}
@media (min-width: 1000px) {
  header button {
    top: 15px;
    right: 15px;
  }
  .svg-container {
    animation: skyline 15s infinite;
    animation-timing-function: linear;
  }
}
@keyframes skyline {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1434px 0;
  }
}
@keyframes svgBus {
  30% {
    opacity: 75%;
  }
  40% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 75%;
  }
}
@keyframes busStop {
  100% {
    right: 100%;
  }
}
@keyframes qPop {
  50% {
    opacity: 0%;
  }
  55% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes qRotate {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .svg-container, .bus-container img, .bus-stop-container, .bus-stop-container p {
    animation-play-state: paused;
  }
}
.nav-container {
  position: absolute;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
}
.nav-container button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 13px;
  right: 15px;
  z-index: 120;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  padding: 2em;
  border: none;
  transition: all 300ms ease-in;
}
.nav-container button .hamburger {
  width: 30px;
  height: 4px;
  position: absolute;
  background: white;
  transition: all 300ms ease-in;
}
.nav-container button .hamburger::before {
  content: "";
  width: 26px;
  height: 4px;
  left: 2px;
  top: -9px;
  position: absolute;
  background: white;
  transition: all 300ms ease-in;
}
.nav-container button .hamburger::after {
  content: "";
  width: 26px;
  height: 4px;
  left: 2px;
  top: 9px;
  position: absolute;
  background: white;
  transition: all 300ms ease-in;
}
.nav-container button.open {
  background-color: white;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  transform: translateY(60px);
}
.nav-container button.open .hamburger {
  background: transparent;
  transition: all 300ms ease-in;
}
.nav-container button.open .hamburger:before {
  transform: rotate(45deg) translate(6px, 6px);
  background: #007bc4;
  transition: all 300ms ease-in;
}
.nav-container button.open .hamburger:after {
  transform: rotate(-45deg) translate(6px, -7px);
  background: #007bc4;
  transition: all 300ms ease-in;
}
.nav-container nav {
  z-index: 1;
  position: fixed;
  background-color: #007bc4;
  bottom: 0;
  top: 0;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: 110vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 300ms ease-in;
}
.nav-container nav.open {
  transform: translateX(0);
  transition: all 300ms ease-in;
}
.nav-container nav ul {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 2em;
}
.nav-container nav ul li.nav-link {
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-right: 1em;
}
.nav-container nav ul li.nav-link:hover img, .nav-container nav ul li.nav-link:focus img {
  opacity: 100%;
  transition: all 300ms ease-in;
}
.nav-container nav ul li.nav-link img {
  height: 30px;
  margin-right: 15px;
  opacity: 0;
  transition: all 300ms ease-in;
}
.nav-container nav ul li.nav-link a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .nav-header-bar {
    background-color: transparent;
  }
  .nav-header-bar .nav-container button {
    right: 50px;
  }
  .nav-header-bar .nav-container nav {
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    min-width: 400px;
  }
  .nav-header-bar .nav-container nav ul {
    align-items: flex-start;
    margin-left: 4em;
  }
  .nav-header-bar .nav-container button .hamburger {
    background: rgba(206, 23, 72, 0.74);
    transition: all 300ms ease-in;
  }
  .nav-header-bar .nav-container button .hamburger::before {
    background: rgba(206, 23, 72, 0.74);
    transition: all 300ms ease-in;
  }
  .nav-header-bar .nav-container button .hamburger::after {
    background: rgba(206, 23, 72, 0.74);
    transition: all 300ms ease-in;
  }
  .nav-header-bar .nav-container button.open .hamburger {
    background-color: transparent;
  }
}
header {
  position: relative;
  margin-bottom: 4em;
  padding-top: 17em;
  margin-top: 0;
  width: 100%;
}
header .mobile-bar {
  position: fixed;
  background-color: #007bc4;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}
header .h1-container {
  position: absolute;
  margin-top: 10em;
  right: 25%;
  top: 0;
  z-index: 1;
}
header .h1-container h1 {
  display: none;
}
header .h1-container img {
  height: 100px;
  z-index: -1;
  opacity: 60%;
}
header .h1-container .subtitle-container {
  display: flex;
  align-items: center;
  justify-content: right;
  opacity: 60%;
}
header .h1-container .subtitle-container .subtitle {
  text-transform: uppercase;
  font-size: 10px;
  color: grey;
}
header .h1-container .subtitle-container img {
  width: 70px;
  height: 20px;
  object-fit: contain;
}

@media (min-width: 1000px) {
  header {
    padding-top: 12em;
  }
  header .h1-container {
    margin-top: 4em;
  }
  .mobile-bar {
    display: none;
  }
}
.page-container {
  min-height: 50vh;
  padding: 1em 3em 5em 3em;
}
.page-container a {
  color: #007bc4;
  text-decoration: none;
  font-weight: 700;
}
.page-container a:hover, .page-container a:focus {
  color: rgba(0, 123, 196, 0.8);
  text-decoration: underline;
}
.page-container ul li {
  margin-bottom: 1em;
}

.btn-container {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container .action-btn {
  padding: 13px 25px;
  margin-top: 20px;
  background-color: #007bc4;
  border: none;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.btn-container .action-btn:hover, .btn-container .action-btn:focus {
  background-color: rgba(0, 123, 196, 0.8);
  transition: all 300ms ease-in;
}

.petition-btn-container {
  margin: 4em 0;
}
.petition-btn-container .petition-btn {
  margin: 0;
}

.block-quote {
  position: relative;
  border-left: 12px solid #007bc4;
  width: 60%;
  margin: 2em 0;
  padding-left: 1em;
  text-align: right;
}
.block-quote p {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.5em;
  font-weight: 400;
}
.block-quote p span {
  color: rgba(206, 23, 72, 0.74);
  font-weight: 700;
}
.block-quote a {
  color: #007bc4;
  margin: 1em 0 0.5em 0;
  font-weight: 700;
  font-size: 0.75rem;
  text-decoration: none;
  transition: all 300ms ease-in;
}
.block-quote a:hover, .block-quote a:focus {
  color: #575757;
  transition: all 300ms ease-in;
}

@media (min-width: 450px) {
  .block-quote {
    margin: 2em auto;
  }
  .block-quote p {
    font-size: 1em;
  }
}
.about {
  display: grid;
}
.about h2 {
  font-size: 1.3rem;
}
.about .btn-container {
  margin-bottom: 3em;
}
.about .btn-container .action-btn {
  width: 250px;
}

@media (min-width: 1000px) {
  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 270px;
    grid-gap: 1.5em;
  }
  .about .chn-details {
    grid-column-start: 1;
  }
  .about .gb-details {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .about .btn-container {
    align-self: flex-start;
    margin: 0;
  }
  .about .btn-container .action-btn {
    margin: 0;
  }
}
.map {
  padding: 2em 0;
}

#map {
  height: 80vh;
}

.leaflet-container {
  height: 80vh;
  z-index: 90;
}

.btn-container .action-btn {
  font-weight: 700;
  min-width: 250px;
}

footer {
  background-color: #007bc4;
}
footer .footer-container {
  max-width: 800px;
  margin: 0 auto;
}
footer .footer-container p {
  color: white;
  font-size: 1em;
  margin: 0.75em 0;
  text-decoration: underline;
  font-weight: 700;
}
footer .footer-container ul {
  padding: 0;
}
footer .footer-container ul li {
  list-style: none;
}
footer .footer-container ul li a {
  color: white;
  text-decoration: none;
}
footer .footer-container ul li a:hover, footer .footer-container ul li a:focus {
  text-decoration: underline;
}

@media (min-width: 450px) {
  footer .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
body {
  line-height: 1.6;
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

strong {
  font-weight: 900;
}

.app {
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 5;
}

.padding-container {
  padding: 2em 3em;
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: rgba(206, 23, 72, 0.74);
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
}

h3 {
  font-size: 1.1rem;
  font-weight: 900;
  color: #007bc4;
  font-style: italic;
}

hr {
  width: 70%;
  background-color: #007bc4;
  opacity: 40%;
  height: 1px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #575757;
  line-height: 1.6;
  font-size: 14px;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}