.block-quote {
  position: relative;
  border-left: 12px solid $cta-blue;
  width: 60%;
  margin: 2em 0;
  padding-left: 1em;
  text-align: right;

  p {
    font-size: 1rem;
    font-weight: 700;

    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  a {
    color: $cta-blue;
    margin: 1em 0 0.5em 0;
    font-weight: 700;
    font-size: 0.75rem;
    text-decoration: none;
    @include transitionHover;

    &:hover,
    &:focus {
      color: $text-color;
      @include transitionHover;
    }
  }
}

@media (min-width: $tablet-bp) {
  .block-quote {
    margin: 2em auto;

    p {
        font-size: 1em;;
    }
  }
}
