.bus-route-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > div {
      border-bottom: 1px $text-color solid;
      flex: 40%;
      height: 200px;
      padding: 4em 2em;
      
      &.percentile {
        @include flex-center;
        .bus-graphic-text {
          max-width: 300px;
        }
      }
      
    }
}

@media (min-width: 650px) {
  .bus-route-details {

      > div {
        border-bottom: none;
        padding: 2em;
        &:first-child {
          border-right: 1px $text-color solid;
        }
        &:nth-child(3) {
          border-top: 1px $text-color solid;
          border-right: 1px $text-color solid;
        }
        &:last-child {
          border-top: 1px $text-color solid;
        }
      }
    }
}
