header {
  position: relative;
  margin-bottom: 4em;
  padding-top: 17em;
  margin-top: 0;
  width: 100%;

  .mobile-bar {
    position: fixed;
    background-color: $cta-blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 101;
  }

  .h1-container {
    position: absolute;
    margin-top: 10em;
    right: 25%;
    top: 0;
    z-index: 1;
    h1 {
      display: none;
    }
    img {
      height: 100px;
      z-index: -1;
      opacity: 60%;
    }
    .subtitle-container {
      display: flex;
      align-items: center;
      justify-content: right;
      opacity: 60%;
      .subtitle {
        text-transform: uppercase;
        font-size: 10px;
        color: grey;
      }
      img {
        width: 70px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}

@media (min-width: $desktop-bp) {
  header {
    padding-top: 12em;

    .h1-container {
      margin-top: 4em;
    }
  }

  .mobile-bar {
    display: none;
  }
}
