.map {
  padding: 1em 0;
  position: relative;
  
  .search-container {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 150;
  }
}

#map {
  height: 80vh;
}

.leaflet-container {
  position: relative;
  height: 80vh;
  z-index: 1;

  .leaflet-map-pane {
    z-index: 1;
  }
}

.btn-container {
  .action-btn {
    font-weight: 700;
    min-width: 250px;
  }
}

.map-title {
  font-weight: 900;
  font-size: 15px; 
  z-index: 1;
  text-align: center;
}

.map-text{
  font-weight: 900;
  font-size: 13px; 
  z-index: 1;
  text-align: right;
  font-style: italic;
}