.map {
  padding: 1em 0;
  position: relative;
}

#map {
  height: 80vh;
}

.leaflet-container {
  position: relative;
  height: 80vh;
  z-index: 1;

  .leaflet-map-pane {
    z-index: 1;
  }
}

.btn-container {
  .action-btn {
    font-weight: 700;
    min-width: 250px;
  }
}

.route-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 150;
  padding: 10px;
  border-radius: 10px;
}
