.map {
  padding: 2em 0;
  position: relative;
}

#map {
  height: 80vh;
}

.leaflet-container {
  position: relative;
  height: 80vh;
  z-index: 1;

  .leaflet-map-pane {
    z-index: 1;
  }
}

.btn-container {
  .action-btn {
    font-weight: 700;
    min-width: 250px;
  }
}
