.nav-container {
  position: absolute;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;

  button {
    position: fixed;
    @include flex-center;
    cursor: pointer;
    top: 13px;
    right: 45px;
    z-index: 120;
    width: 45px;
    height: 45px;
    background-color: rgba(white, 0);
    border-radius: 50%;
    padding: 2em;
    border: none;
    @include transitionHover;

    .hamburger {
      width: 30px;
      height: 4px;
      position: absolute;
      background: white;
      @include transitionHover;

      &::before {
        content: "";
        width: 26px;
        height: 4px;
        left: 2px;
        top: -9px;
        position: absolute;
        background: white;
        @include transitionHover;
      }

      &::after {
        content: "";
        width: 26px;
        height: 4px;
        left: 2px;
        top: 9px;
        position: absolute;
        background: white;
        @include transitionHover;
      }
    }

    &.open {
      background-color: rgba(white, 100);
      box-shadow: $bs;
      transform: translateY(60px);

      .hamburger {
        background: transparent;
        @include transitionHover;

        &:before {
          transform: rotate(45deg) translate(6px, 6px);
          background: $cta-blue;
          @include transitionHover;
        }

        &:after {
          transform: rotate(-45deg) translate(6px, -7px);
          background: $cta-blue;
          @include transitionHover;
        }
      }
    }
  }

  nav {
    z-index: 1;
    position: fixed;
    background-color: $cta-blue;
    bottom: 0;
    top: 0;
    box-shadow: $bs;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    @include transitionHover;

    &.open {
      transform: translateX(0);
      @include transitionHover;
    }

    ul {
      display: flex;
      height: 80%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-top: 2em;

      li.nav-link {
        text-align: center;
        list-style: none;
        font-size: 1.5rem;
        color: white;
        padding: 0.5em;
        @include flex-center;
        font-weight: 700;

        &:hover,
          &:focus {
            img {
              opacity: 100%;
              @include transitionHover;
            }
          }

        img {
          height: 30px;
          margin-right: 15px;
          opacity: 0;
          @include transitionHover;
        }

        a {
          cursor: pointer;
          color: white;
          text-decoration: none;

          
        }
      }
    }
  }
}

@media (min-width: $desktop-bp) {
  .nav-header-bar {
    background-color: transparent;

    .nav-container {
      nav {
        top: 0;
        right: 0;
        height: 100vh;
        width: 30%;
      }

      button {
        .hamburger {
          background: $cta-red;
          @include transitionHover;

          &::before {
            background: $cta-red;
            @include transitionHover;
          }

          &::after {
            background: $cta-red;
            @include transitionHover;
          }
        }
        &.open {
          .hamburger {
            background-color: transparent;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-bp) {
}
