.page-container {
  min-height: 50vh;
  padding: 1em 3em 5em 3em;

  .btn-container {
    display: flex;
    flex-direction: column;
    @include flex-center;

    .action-btn {
      padding: 13px 25px;
      margin-top: 20px;
      background-color: $cta-blue;
      border: none;
      color: white;
      border-radius: 100px;
      cursor: pointer;
      @include transitionHover;

      &:hover,
      &:focus {
        background-color: $blue-button;
        @include transitionHover;
      }
    }
  }
}
