.page-container {
  min-height: 50vh;
  padding: 1em 3em 5em 3em;

  a {
    color: $cta-blue;
    text-decoration: none;
    font-weight: 700;

    &:hover, &:focus {
      color: $blue-button;
      text-decoration: underline;
    }
}

  ul {
    li {
      margin-bottom: 1em;

      }
    }
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    @include flex-center;

    .action-btn {
      padding: 13px 25px;
      margin-top: 20px;
      background-color: $blue-button;
      border: none;
      color: white;
      border-radius: 100px;
      cursor: pointer;
      @include transitionHover;

      &:hover,
      &:focus {
        background-color: $cta-blue;
        @include transitionHover;
      }
    }
  }

  .petition-btn-container {
    margin: 4em 0;

    .petition-btn {
      margin: 0;
    }
  }

