h2 {
  margin-top: 2.5em;
}

.stats-list {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    flex: 1 auto;
    margin: 5px;
  }
}

.route-stat-page {
  .route-stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin-top: 3em;
    padding: 1em;
    width: 100%;

    .route-map-tile {

        #map {
          height: 400px;
        }

        .leaflet-container {
          position: relative;
          height: 400px;
          z-index: 1;

          .leaflet-map-pane {
            z-index: 1;
          }
        }
      }
    }

    .route-fast-facts {
      background-color: rgba($cta-blue, 0.1);
      padding: 1em;
      border-radius: 10px;
      width: 100%;
      h3 {
        margin: 0;
      }
      ul {
        padding-left: 0.75em;
      }

      li,
      p {
        margin: 0.25em;
      }
    }

    .route-bus-image {
      background: grey;
      width: 100%;
    }
  }

.footnote {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  text-align: right;

  a {
    color: $cta-blue;
    text-decoration: none;
    font-weight: 700;
    @include transitionHover;

    &:hover {
      color: lighten($cta-blue, 0.7);
      @include transitionHover;
      text-decoration: underline;
    }
  }
}
