.search-container {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 150;
  padding: 5px;
  background-color: white;
  border-radius: 10px;

  input {
    padding: 10px;
    border: none;
  }

  .results-container {
    p {
      border-top: 1px #cfcfcf solid;
      padding: 15px;
      margin: 0;
      @include transitionHover;

      &:hover {
        cursor: pointer;
        background-color: #e7e7e7;
        @include transitionHover;
      }
    }
  }
}

.filter-container {
  position: absolute;
  right: 20px;
  bottom: 40px;
  z-index: 150;

  button {
    @include flex-center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer
  }

  .option-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    right: 0px;
    bottom: 100%;
    margin-bottom: 1em;
    z-index: 150;
    border-radius: 10px;
    background-color: white;
    padding: 1.5em;

    label {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        input {
            margin-right: 5px;
        }
    }
  }
}
