.search-container {
  background-color: white;
  border-radius: 10px;
  width: 200px;

  input {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    outline: none;

    &.close {
      border-radius: 10px;
    }

    &.open {
      border-radius: 10px 10px 0 0;
    }
  }

  .results-container {
    position: absolute;
    z-index: 100;

    background-color: white;
    border-radius: 0 0 10px 10px;

    max-height: 400px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    p {
      border-top: 1px #cfcfcf solid;
      padding: 15px;
      margin: 0;
      @include transitionHover;

      span {
        margin-right: 7px;
        font-weight: 900;
      }

      &:hover {
        cursor: pointer;
        background-color: #e7e7e7;
        @include transitionHover;
      }
    }
  }
}
